extends layout
block content

	script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js")
	script(src="/javascripts/springy.js")
	script(src="/javascripts/springyui.js")
	script.
		var graphJSON = {
			"nodes": [
				"Amphitryon",
				"Alcmene",
				"Iphicles",
				"Heracles"
			],
			"edges": [
				["Amphitryon", "Alcmene"],
				["Alcmene", "Amphitryon"],
				["Amphitryon", "Iphicles"],
				["Amphitryon", "Heracles"]
			]
		};

		jQuery(function(){
			var graph = new Springy.Graph();
			graph.loadJSON(graphJSON);

			var springy = jQuery('#springydemo').springy({
				graph: graph
			});
		});

	h1= title
	p this is copy of springy demo.
	
	a(href="http://getspringy.com") Springy.com

	canvas(id="springydemo" width="640" height="480")

