extends layout
block content
	script(src="/javascripts/springy.js")
	script(src="/javascripts/springyui.js")
	script.
		var graphJSON = {
			"nodes": [
				"Amphitryon",
				"Alcmene",
				"Iphicles",
				"Heracles"
			],
			"edges": [
				["Amphitryon", "Alcmene"],
				["Alcmene", "Amphitryon"],
				["Amphitryon", "Iphicles"],
				["Amphitryon", "Heracles"]
			]
		};

		jQuery(function(){
			var graph = new Springy.Graph();
			graph.loadJSON(graphJSON);

			var springy = jQuery('#springydemo').springy({
				graph: graph
			});
		});
		jQuery("#index").removeClass("uk-active");
		jQuery("#springy").addClass("uk-active");
		jQuery("#help").removeClass("uk-active");

	h1= title
	p This is copy of springy json. Data is made by JSON.

	canvas(id="springydemo" width="640" height="480")

