extends layout

block content
	script(src="/socket.io/socket.io.js",type="text/javascript")
	script.
		navmenu("#index");
		var socket = io.connect("/");
		socket.on("msg", function (data) {
			document.getElementById("message").innerHTML += data.date + " " + data.message + "<br>";
		});

		function submit(){
			var message = document.getElementById("msg").value;
			socket.emit("msg", {message : message});
			document.getElementById("msg").value = "";
		}
	h1 Socket.IO client
	input(name="msg")#msg
	button(onclick='submit()') Submit
	hr
	#message
	
