!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/uikit.almost-flat.css")
		link(rel="stylesheet", href="/stylesheets/font-awesome.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="/javascripts/uikit.min.js")
		script.
			var navmenu = function(item) {
				var menu = ["#index", '#springy', '#jstest', '#lifegame', '#processing', '#chartjs', '#help'];
				$.each(menu, function(index,value){
					if(item == value){
						$(value).addClass("uk-active");
					}else{
						$(value).removeClass("uk-active");
					}
				});
			};
			
	body
		div(class="uk-container uk-container-center")
			include menu
			block content
