extends layout

block content
	script.
		jQuery("#index").addClass("uk-active");
		jQuery("#springy").removeClass("uk-active");
		jQuery("#jstest").removeClass("uk-active");
		jQuery("#help").removeClass("uk-active");
		
	h1= title
	p Welcome to #{title}
