extends layout
block content
	script.
		$(function () {
			assert (true , "テストスイートを実行中");
			assert (false, " 失敗!");
		});
		navmenu('#jstest');
	
	h1= title
	br
	ul#results(class="uk-list uk-list-striped")
