!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/uikit.almost-flat.css")
		link(rel="stylesheet", href="/stylesheets/font-awesome.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="/javascripts/uikit.min.js")
		script.
			var navmenu = function(item) {
				var menu = ["#index", '#springy', '#jstest', '#lifegame', '#help'];
				$.each(menu, function(index,value){
					if(item == value){
						$(value).addClass("uk-active");
					}else{
						$(value).removeClass("uk-active");
					}
				});
			};
			
	body
		div.uk-container
			div.uk-navbar
				a.uk-navbar-brand(href="http://getspringy.com") UIKIT & SPRINGY.JS
				ul.uk-navbar-nav
					li#index.uk-active
						a(href="/") UI sample
					li#springy(class="uk-parent", data-uk-dropdown)
						a Springy
						div(class="uk-dropdown uk-dropdown-navbar")
							ul(class="uk-nav uk-nav-navbar")
								li#demo-springy
									a(href="/springy") Demo data json
								li#demo-springy2
									a(href="/springy2") Demo simple
					li#jstest
						a.uk-navbar-nav(href="/jstest") JS Ninja
					li#lifegame
						a.uk-navbar-nav(href="/lifegame") LIFE GAME
				nav.uk-navbar-flip
					ul.uk-navbar-nav
						li#help
							a(href="/test") HELP
			block content
