extends layout

block content
	script.
		navmenu("#processing");
	p Welcome to #{title}
		div.uk-button-group
			button(class="uk-button uk-button-primary" type="submit") Simulation
			div(data-uk-dropdown class)
				a(class="uk-button uk-button-primary" href="#")
					i.uk-icon-caret-down
				div(class="uk-dropdown uk-dropdown-small" style)
					ul(class="uk-nav uk-nav-dropdown")
						li
							a(href="/processing/130903a") BOIDS
						li
							a(href="/processing/130914a") BOIDS nulnul.net
						li.uk-nav-divider
						li
							a(href="/processing/") NO ITEM 
