!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet", href="/stylesheets/uikit.almost-flat.css")
		link(rel="stylesheet", href="/stylesheets/font-awesome.css")
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
		script(src="/javascripts/uikit.min.js")
		script.
			var navmenu = function(item) {
				var menu = ["#index", '#springy', '#jstest', '#lifegame', '#help'];
				$.each(menu, function(index,value){
					if(item == value){
						$(value).addClass("uk-active");
					}else{
						$(value).removeClass("uk-active");
					}
				});
			};
			var setJsTestMenu = function(item) {
				var menu = ['#jstest0', '#jstest1', '#jstest2', '#jstest3', '#jstest4'];
				$.each(menu, function(index,value) {
					if(value == item){
						$(value).addClass("uk-active");
					}else{
						$(value).removeClass("uk-active");
					}
				});
			};
			// for JavaScript Ninja assert test.
			function assert(value, desc){
				var li = document.createElement("li");
				li.className = value ? "pass" : "fail uk-icon-warning-sign";
				li.appendChild(document.createTextNode(desc));
				document.getElementById("results").appendChild(li);
			}
	body
		div.uk-container
			include ../menu
			h1 Javascript Ninja Test Suite and Lessons
			div.uk-grid
				div.uk-width-2-10
					ul#jstestmenu(class="uk-nav uk-nav-side")
						li.uk-active#jstest0
							a(href="/jstest/0") シンプルなテスト
						li#jstest1
							a(href="/jstest/1") テストグループ
						li#jstest2
							a(href="/jstest/2") 非同期テスト
						li#jstest3
							a(href="/jstest/3") callback呼び出し
						li#jstest4
							a(href="/jstest/4") apply()とcall() p64
				div.uk-width-8-10
					block content
